body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #050507;
  color: white;
  overflow-x: hidden;
}

/* TOP BAR */
.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  backdrop-filter: blur(12px);
  z-index: 1000;
}

.socials a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  opacity: 0.6;
}

.socials a:hover {
  opacity: 1;
  color: #9333ea;
}

/* HERO */
.hero {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://w0.peakpx.com/wallpaper/1009/34/HD-wallpaper-cool-pixel-art-background-ultra-games-other-games-background-cool-pixel-gameing-playhard.jpg") center/cover no-repeat;
  
  background-size: cover;
  background-position: center;

  image-rendering: auto;
  filter: brightness(0.4) contrast(1.2) saturate(1.2);
}

.hero-content {
  position: relative;
  text-align: center;
}

.hero h1 {
  font-size: 7vw;
  background: linear-gradient(90deg,#9333ea,#3b82f6,#ec4899);
  -webkit-background-clip: text;
  color: transparent;
}

/* ABOUT */
.about {
  display: flex;
  padding: 120px;
  gap: 60px;
}

.about-text {
  flex: 1;
}

.about-img {
  flex: 1;
  background: url("https://png.pngtree.com/thumb_back/fh260/background/20240522/pngtree-arcade-retro-cyberpunk-generate-ai-image_15729770.jpg") center/cover;
  border-radius: 12px;
}

/* PROJECTS */
.projects {
  padding: 120px;
}

.project-grid {
  display: flex;
  gap: 20px;
}

.project-card {
  position: relative;
  flex: 1;
  text-decoration: none;
  color: white;
  overflow: hidden;
}

.project-card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  transition: 0.5s;
}

.project-card:hover img {
  transform: scale(1.1);
  filter: brightness(0.6);
}

.project-card span {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 18px;
}

/* FOOTER */
.footer {
  padding: 60px;
  text-align: center;
  opacity: 0.7;
}

.footer .bottom {
  margin-top: 10px;
}